<div class="sidebar_container">
	<a href="">
		<div class="header_img">
			<img src="assets/header_img.png" alt="">
		</div>
	</a>

	<a href="#/notes/new">
		<div class="add_note_img">
			<img class="sidebar_img new_note_visible" src="assets/new-note-visible" alt="">
			<img class="sidebar_img new_note_hidden" src="assets/new-note-hidden" alt="">
			<span class="new_note_text">
				NEW NOTE
			</span>
		</div>
	</a>

		<div class="search_img">
			<img class="sidebar_img search_visible" src="assets/search-visible" alt="">
			<img class="sidebar_img search_hidden" src="assets/search-hidden" alt="">
			<span class="search_text">
				SEARCH
			</span>
		</div>

	<a href="#">
		<div class="notes_img">
			<img class="sidebar_img notes_visible" src="assets/notes-visible" alt="">
			<img class="sidebar_img notes_hidden" src="assets/notes-hidden" alt="">
			<span class="notes_text">
				NOTES
			</span>
		</div>
	</a>

	<a href="#/notebooks">
		<div class="notebooks_img">
			<img class="sidebar_img notebook_visible" src="assets/notebooks-visible" alt="">
			<img class="sidebar_img notebook_hidden" src="assets/notebooks-hidden" alt="">
			<span class="notebooks_text">
				NOTEBOOKS
			</span>
		</div>
	</a>

		<div class="logout">
			<img class="logout_img" src="assets/logout.png" alt="">
			<span class="logout_text">
				LOG OUT
			</span>
		</div>
</div>