<div class="sidebar_body">

	<div class="sidebar_header_img">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/new-note-visible" id="sidebarImg" class="visible" alt="">
		<img src="assets/new-note-hidden" id="sidebarImg" class="hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/search-visible" id="sidebarImg" class="visible" alt="">
		<img src="assets/search-hidden" id="sidebarImg" class="hidden" alt="">
	</div>

	<div class="sidebar_item_img">
			<img src="assets/notes-visible" id="sidebarImg" class="visible" alt="">
			<img src="assets/notes-hidden" id="sidebarImg" class="hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/notebooks-visible" id="sidebarImg" class="visible" alt="">
		<img src="assets/notebooks-hidden" id="sidebarImg" class="hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/tags-visible" id="sidebarImg" class="visible" alt="">
		<img src="assets/tags-hidden" id="sidebarImg" class="hidden" alt="">
	</div>


</div>

