<div class="sidebar_body">

	<div class="sidebar_header_img">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/new-note-visible" class="img visible" alt="">
		<img src="assets/new-note-hidden" class="img hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/search-visible" class="img visible" alt="">
		<img src="assets/search-hidden" class="img hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/notes-visible" class="img visible" alt="">
		<img src="assets/notes-hidden" class="img hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/notebooks-visible" class="img visible" alt="">
		<img src="assets/notebooks-hidden" class="img hidden" alt="">
	</div>

	<div class="sidebar_item_img">
		<img src="assets/tags-visible" class="img visible" alt="">
		<img src="assets/tags-hidden" class="img hidden" alt="">
	</div>


</div>

