<div class="sidebar_container">
	<div class="header_img">
		<img src="assets/header_img.png" alt="">
	</div>

	<div class="add_note_img">
		<img class="sidebar_img new_note_visible" src="assets/new-note-visible" alt="">
		<img class="sidebar_img new_note_hidden" src="assets/new-note-hidden" alt="">
	</div>

	<div class="search_img">
		<img class="sidebar_img search_visible" src="assets/search-visible" alt="">
		<img class="sidebar_img search_hidden" src="assets/search-hidden" alt=""> 
	</div>

	<div class="notes_img">
		<img class="sidebar_img notes_visible" src="assets/notes-visible" alt="">
		<img class="sidebar_img notes_hidden" src="assets/notes-hidden" alt="">
	</div>

	<div class="notebooks_img">
		<img class="sidebar_img notebook_visible" src="assets/notebooks-visible" alt="">
		<img class="sidebar_img notebook_hidden" src="assets/notebooks-hidden" alt="">
	</div>
</div>