<div id="main">
	<section id="sidebar" class="main_sidebar">
		<%= render partial: 'sidebar' %>
	</section>

	<section id="content" class="main_content">
		<section id="indexItem" class="main_index_item"></section>
		<section id="show" class="main_show"></section>
	</section>

</div>
