<div class="modal_container">
	<div class="modal" style="top: <%= dim.top %>px; left: <%= dim.left %>px;">

		<div class="trash_logo">
			<img src="assets/create_notebook.png" alt="">
		</div>

		<div class="modal_header">
		CREATE NOTEBOOK
		</div>

		<input type="text" class="notebook_title" name="title" placeholder="Title your notebook">

		<div class="modal_buttons">
			<button class="cancel">Cancel</button>
			<button class="confirm">Create notebook</button>
		</div>
	</div>
</div>