<div class="notebooks_index_container">	
	<div class="notebooks_header">
		<div class="notebooks_header_text">
		NOTEBOOKS
		</div>
		<img class="add_notebook_img" src="assets/add-notebook.png" alt="">
	</div>
	<div class="notebook_items"></div>

	<div class="notebook_trash">
		Trash
	</div>
</div>