<div class="notebook_show">

	<div class="notebook_header_content">
		<div class="notebook_show_title">
			<%= notebook.escape("title") %>
		</div>
	</div>

	<div class="notebook_list_item"></div>
</div>