<div class="notes_list_item">

	<div class="time_ago">
		minutes ago
	</div>
	<div class="notes_item_title">
		<%= note.escape("title") %>
	</div>
	<div class="notes_item_content">
		<%= note.escape("content") %>
	</div>

</div>