<div class="notes_container">	

	<div class="header_container">
			<div class="header_text_notes">
				NOTES
			</div>

			<div class="notes_count_text">
				2 Notes
			</div>
	</div>

	<div class="notes_list"></ul>

</div>