<div class="modal_container">
	<div class="modal">

		<div class="trash_logo">
			<img src="assets/delete-trash.png" alt="">
		</div>

		<div class="modal_header">
		</div>

		<div class="modal_content">
		</div>

		<div class="modal_buttons">
			<button class="cancel">Cancel</button>
			<button class="confirm">Confirm</button>
		</div>
	</div>
</div>