section.main_sidebar {
	width: 5.5%;
	height: 100%;
	float: left;
	margin: 0;
	background-color: #f8f8f8;
}

div.sidebar_container {
	width: 100%;
	height: 100%;
}

div.header_img {
	margin-left: 17px;
	margin-top: 12px;
}

img.sidebar_img {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

img.new_note_visible {
	margin-top: 25px;
	margin-left: 21px;
	position: absolute;
}

img.new_note_visible:hover {
	opacity: 0;
}

img.new_note_hidden {
	margin-top: 25px;
	margin-left: 21px;
}

img.search_visible {
	margin-top: 15px;
	margin-left: 21px;
	position: absolute;
}

img.search_hidden {
	margin-top: 15px;
	margin-left: 21px;
}

img.search_visible:hover {
	opacity: 0;
}


img.notes_visible {
	margin-top: 45px;
	margin-left: 21px;
	position: absolute;
}

img.notes_hidden {
	margin-top: 45px;
	margin-left: 21px;
	display: none;
}

img.notes_hidden:hover {
	display: block;
}

img.notebook_visible {
	margin-top: 95px;
	margin-left: 21px;
	position: absolute;
}

img.notebook_hidden {
	margin-top: 95px;
	margin-left: 21px;
	display: none;
}