section.main_sidebar {
	width: 5.5%;
	height: 100%;
	float: left;
	margin: 0;
	background-color: #f8f8f8;
}

div.sidebar_container {
	width: 100%;
	height: 100%;
}

div.header_img {
	margin-left: 17px;
	margin-top: 12px;
}

img.sidebar_img {
	width: 38px;
	height: 38px;
	cursor: pointer;
}

div.add_note_img:hover img.new_note_visible {
	opacity: 0;
}

div.add_note_img:hover span.new_note_text {
	display: inline;
	margin-top: 35px;
	margin-left: 10px;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 2px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 2px;
	padding-top: 2px;
	z-index: 1;
	color: white;
	background-color: gray;

}

div.search_img:hover span.search_text {
	display: inline;
	margin-top: 25px;
	margin-left: 10px;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 2px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 2px;
	padding-top: 2px;
	z-index: 1;
	color: white;
	background-color: gray;

}

img.new_note_visible {
	margin-top: 25px;
	margin-left: 18px;
	position: absolute;
}


img.new_note_hidden {
	margin-top: 25px;
	margin-left: 18px;

}

span.new_note_text {
	display: none;
	position: absolute;
}

span.search_text {
	display: none;
	position: absolute;
}


img.search_visible {
	margin-top: 15px;
	margin-left: 18px;
	position: absolute;
}

img.search_hidden {
	margin-top: 15px;
	margin-left: 18px;
}

div.search_img:hover img.search_visible {
	opacity: 0;
}



img.notes_visible {
	margin-top: 45px;
	margin-left: 18px;
	position: absolute;
}

img.notes_hidden {
	margin-top: 45px;
	margin-left: 18px;
	display: none;
}


img.notebook_visible {
	margin-top: 95px;
	margin-left: 18px;
	position: absolute;
}

img.notebook_hidden {
	margin-top: 95px;
	margin-left: 18px;
	display: none;
}