<!DOCTYPE html>
<html>
<head>
 <!--  <link rel="stylesheet" href="//cdn.quilljs.com/0.19.10/quill.snow.css" /> -->
  <script src="//cdn.quilljs.com/0.19.14/quill.js"></script>
  <title>ElegantPad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
